# Expo / React Native
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# Env
.env
.env.local
.env*.local

# Debug / logs
npm-debug.*
yarn-error.*

# macOS
.DS_Store

# EAS
.easignore
